/* font Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/*  global rules */
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*---------------------- Tags ----------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  list-style: none;
}
main {
  min-height: 100vh;
  padding: 100px 4px 0px 4px;
  background-color: #f8fafc;
}
section {
  margin-bottom: 32px;
}
img {
  width: 100%;
}
/*---------------------- Classes ----------------------*/
.icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.card {
  gap: 16px;
  padding: 16px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.card-body,
.card-footer {
  padding: 0;
}
.col {
  padding-block: 12px;
}
/* font color */
.text-gray {
  color: #6a7282;
}
.text-violet {
  color: #7f22fe;
}
.text-green {
  color: #009966;
}
.text-red {
  color: #ef2157;
}
/* font size */
.fs-11 {
  font-size: 11px;
}
.fs-14 {
  font-size: 14px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
/* background color */
.bg-violet-subtle {
  background-color: #ede9fe;
}
.bg-green-subtle {
  background-color: #d0fae5;
}
.bg-red-subtle {
  background-color: #fff1f2;
}
.bg-orange-subtle {
  background-color: #fff8ed;
}
/*---------------------- header ----------------------*/
header {
  position: fixed;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(20px);
  box-shadow: 0 0px 1px 0 #00000070;
}
/* logo */
/* icon */
header .logo .icon {
  background: linear-gradient(
    90deg,
    rgba(142, 81, 255, 1) 0%,
    rgba(79, 57, 246, 1) 100%
  );
}
header .logo .icon i {
  font-size: 20px;
  font-size: 1rem;
}
/* text */
header .logo h1 {
  font-size: 20px;
  font-weight: 700;
}
header .logo h1 span {
  background-image: linear-gradient(
    90deg,
    rgba(142, 81, 255, 1) 0%,
    rgba(79, 57, 246, 1) 100%
  );
  background-clip: text;
  color: #8e51ff;
}
header .logo p {
  font-size: 12px;
  font-weight: 500;
}
/* profile */
/* button */
header .profile .btn {
  background: linear-gradient(
    90deg,
    rgba(142, 81, 255, 1) 0%,
    rgba(79, 57, 246, 1) 100%
  );
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  width: fit-content;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
header .profile .btn:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  box-shadow: 0 3px 10px -3px #8e51ff;
}
header .profile .btn i {
  font-size: 12px;
}
header .profile .userImage {
  width: 40px;
}
/*---------------------- main ----------------------*/
/* quick-stats */
#quick-stats .col:nth-child(1) .card .icon {
  background-color: #155dfb;
  box-shadow: 0 5px 5px -3px #155efb62;
}
#quick-stats .col:nth-child(2) .card .icon {
  background: linear-gradient(
    135deg,
    rgba(254, 154, 0, 1) 25%,
    rgba(255, 105, 0, 1) 100%
  );
  box-shadow: 0 5px 5px -3px #ffbd07a7;
}
#quick-stats .col:nth-child(3) .card .icon {
  background: linear-gradient(
    135deg,
    rgba(255, 32, 86, 1) 25%,
    rgba(231, 0, 11, 1) 100%
  );
  box-shadow: 0 5px 5px -3px #ff000063;
}
#quick-stats .content p {
  text-transform: uppercase;
}
/* contactsArea */
.contactsArea {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.contactsArea .contacts-search,
.contactsArea .favorites-emergency {
  grid-column: span 12;
}
/* search input */
.searchInput i {
  left: 16px;
}
.form-control {
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.519);
  padding: 12px 16px 12px 44px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.form-control::placeholder {
  font-size: 14px;
  color: #979faf;
}
.form-control:focus {
  border-color: #8e51ff;
  box-shadow: 0 0 0 2px #8e51ff45;
}
/* contacts */
.contactsArea .favorites {
  top: -1px;
  right: -5px;
  background: linear-gradient(
    135deg,
    rgba(254, 154, 0, 1) 25%,
    rgba(255, 105, 0, 1) 100%
  );
  border: 3px solid #fff;
  font-size: 8px;
}
.contactsArea .emergency {
  bottom: -1px;
  right: -5px;
  background: linear-gradient(
    135deg,
    rgba(255, 32, 86, 1) 25%,
    rgba(231, 0, 11, 1) 100%
  );
  border: 3px solid #fff;
  font-size: 8px;
}
.contactsArea .card-body i {
  font-size: 9px;
}
.contactsArea .card-footer {
  border-top-color: oklch(96.7% 0.003 264.542);
  background-color: #fafbfc;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.contactsArea .card-footer .call,
.contactsArea .card-footer .email,
.contactsArea .card-footer .addToFavorites,
.contactsArea .card-footer .addToEmergency,
.contactsArea .card-footer .update,
.contactsArea .card-footer .delete,
.contactsArea .contacts .card {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.contactsArea .card-footer .call {
  width: 36px;
  height: 36px;
  background-color: #ecfdf5;
  color: #009966;
}
.contactsArea .card-footer .call:hover {
  cursor: pointer;
  background-color: #d0fae5;
}
.contactsArea .card-footer .email {
  width: 36px;
  height: 36px;
  background-color: #f5f3ff;
  color: #7f22fe;
}
.contactsArea .card-footer .email:hover {
  cursor: pointer;
  background-color: #ede9fe;
}
.contactsArea .card-footer .addToFavorites {
  width: 36px;
  height: 36px;
  color: #6a7282;
}
.contactsArea .card-footer .addToFavorites:hover {
  cursor: pointer;
  background-color: #f3f4f6;
  color: #ffbb07;
}
.contactsArea .card-footer .addToEmergency {
  width: 36px;
  height: 36px;
  color: #6a7282;
}
.contactsArea .card-footer .addToEmergency:hover {
  cursor: pointer;
  background-color: #f3f4f6;
  color: #ec003f;
}
.contactsArea .card-footer .update {
  width: 36px;
  height: 36px;
  color: #6a7282;
}
.contactsArea .card-footer .update:hover {
  cursor: pointer;
  background-color: #eef2ff;
  color: #4f39f6;
}
.contactsArea .card-footer .delete {
  width: 36px;
  height: 36px;
  color: #6a7282;
}
.contactsArea .card-footer .delete:hover {
  cursor: pointer;
  background-color: #fff1f2;
  color: #ec003f;
}
.contactsArea .contacts .card:hover {
  box-shadow: 0 3px 5px 1px #00000027;
}
/* favorites & emergency */
.contactsArea .favoritesList .icon {
  background: linear-gradient(
    135deg,
    rgba(254, 154, 0, 1) 25%,
    rgba(255, 105, 0, 1) 100%
  );
}
.contactsArea .emergencyList .icon {
  background: linear-gradient(
    135deg,
    rgba(255, 32, 86, 1) 25%,
    rgba(231, 0, 11, 1) 100%
  );
}
.contactsArea div[class="d-flex align-items-center gap-3 p-3 bg-orange-subtle"],
.contactsArea div[class="d-flex align-items-center gap-3 p-3 bg-red-subtle"] {
  border-bottom: 1px solid rgb(239, 233, 233);
}
